.container {
  background: var(--gray-400);
  width: 44rem;
  margin: 6rem auto;
  border-radius: 0.4rem;
}

.container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 6rem 0;
}

.container form input {
  padding: 0.9rem;
  width: 50%;
  border: 1px solid var(--black);
  border-radius: 0.4rem;
  background: var(--gray-450);
  color: var(--gray-300); 
}

.container form input::placeholder {
  color: var(--gray-250);
}

.container footer {
  width: 50%;
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-top: 1rem;
}

.container footer button {
  border: none;
  border-radius: 0.4rem;
  background: var(--blue-500);
  color: var(--white);
  padding: 1rem;
  font-weight: bold;
  transition: all 0.5s ease;
}

.container footer button:hover {
  cursor: pointer;
  background: var(--blue-450)
}
