.container {
  margin: 5rem auto;
  width: 70%;
}

.container > form {
  padding: 2rem 0;
  background: var(--gray-400);
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.container > form input {
  padding: 0.9rem;
  width: 50%;
  border: 1px solid var(--black);
  border-radius: 0.4rem;
  background: var(--gray-450);
  color: var(--gray-300); 
}

.container > form button {
  border: none;
  border-radius: 0.4rem;
  background: var(--blue-500);
  color: var(--white);
  padding: 1rem;
  font-weight: bold;
  transition: all 0.5s ease;
}

.container > form button:hover {
  cursor: pointer;
  background: var(--blue-450);
}
